.sidebar-content {
  position: absolute;
  top: 2.2em;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
  opacity: 1; }

.sidebar-control-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: white; }
  .sidebar-control-bar i {
    height: 100%;
    cursor: pointer;
    font-size: 1.5em !important;
    padding: 0.2em;
    transition: all 0.3s ease-in-out;
    margin: 0; }
  .sidebar-control-bar .sidebar-toggle {
    width: 1.5em;
    color: gainsboro;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro; }
